@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
.arabic-font {
  font-family: "Cairo";
}
.english-font {
  font-family: "Cairo";
}

.horizontal-step__separator {
  height: 7px !important;
  margin: 0 !important;
}

.vertical-step__separator {
  position: absolute !important;
  margin: 0 !important;
}
